docs/superpowers/plans/n8n-workflows/regerar-xlsx.json
{
  "name": "[Altabooks] Metadados — Regerar XLSX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghostwriter/metadados/regerar-xlsx",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ghostwriter-metadados-regerar-xlsx"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, metadados_json from public.metadados_jobs where id = '{{ $json.body.job_id }}'::uuid;",
        "options": {}
      },
      "id": "node-get-job",
      "name": "Get Job JSON",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres (service_role)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tddolcrzmczvoqxkajic.supabase.co/functions/v1/metadados-xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'generate-bookinfo', metadados_json: $json.metadados_json }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "node-edge-gen",
      "name": "Edge Generate XLSX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "TODO_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const jobRow = $('Get Job JSON').first().json;\nconst edge = $input.first().json;\n\nif (!jobRow.metadados_json) throw new Error('Job ' + jobRow.id + ' sem metadados_json');\nif (edge.error) throw new Error('Edge generate-bookinfo retornou erro: ' + edge.error);\nif (!edge.xlsx_b64) throw new Error('Edge generate-bookinfo não retornou xlsx_b64');\n\nreturn [{\n  json: { job_id: jobRow.id },\n  binary: {\n    data: {\n      data: edge.xlsx_b64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: 'bookinfo.xlsx',\n      fileExtension: 'xlsx'\n    }\n  }\n}];"
      },
      "id": "node-decode-xlsx",
      "name": "Decode XLSX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tddolcrzmczvoqxkajic.supabase.co/storage/v1/object/metadados/{{ $json.job_id }}/bookinfo.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-upsert", "value": "true" },
            { "name": "Content-Type", "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "node-upload-xlsx",
      "name": "Upload XLSX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "TODO_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tddolcrzmczvoqxkajic.supabase.co/storage/v1/object/sign/metadados/{{ $('Decode XLSX').first().json.job_id }}/bookinfo.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "expiresIn", "value": "={{ 300 }}" }
          ]
        },
        "options": {}
      },
      "id": "node-sign-url",
      "name": "Sign Download URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "TODO_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.metadados_jobs set updated_at = now() where id = '{{ $('Decode XLSX').first().json.job_id }}'::uuid;",
        "options": {}
      },
      "id": "node-touch-updated",
      "name": "Touch updated_at",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres (service_role)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"url\": \"https://tddolcrzmczvoqxkajic.supabase.co/storage/v1{{ $('Sign Download URL').first().json.signedURL }}\" }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Job JSON", "type": "main", "index": 0 }]] },
    "Get Job JSON": { "main": [[{ "node": "Edge Generate XLSX", "type": "main", "index": 0 }]] },
    "Edge Generate XLSX": { "main": [[{ "node": "Decode XLSX", "type": "main", "index": 0 }]] },
    "Decode XLSX": { "main": [[{ "node": "Upload XLSX", "type": "main", "index": 0 }]] },
    "Upload XLSX": { "main": [[{ "node": "Sign Download URL", "type": "main", "index": 0 }]] },
    "Sign Download URL": { "main": [[{ "node": "Touch updated_at", "type": "main", "index": 0 }]] },
    "Touch updated_at": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
