docs/superpowers/plans/n8n-workflows/regerar-xlsx.json
{
  "name": "[Altabooks] Metadados — Regerar XLSX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghostwriter/metadados/regerar-xlsx",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ghostwriter-metadados-regerar-xlsx"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, metadados_json from public.metadados_jobs where id = '{{ $json.body.job_id }}'::uuid;",
        "options": {}
      },
      "id": "node-get-job",
      "name": "Get Job JSON",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres (service_role)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const SUPABASE_URL = 'https://tddolcrzmczvoqxkajic.supabase.co';\nconst ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkZG9sY3J6bWN6dm9xeGthamljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMzgxNzgsImV4cCI6MjA3OTYxNDE3OH0.uTm3MXzGvoR1DbjChyOJbrzGmB9_TBC38V5rb3qVdsY';\n\nconst jobRow = $('Get Job JSON').first().json;\nconst job_id = jobRow.id;\nconst metadados_json = jobRow.metadados_json;\n\nif (!metadados_json) {\n  throw new Error('Job ' + job_id + ' sem metadados_json — não dá pra gerar xlsx');\n}\n\nconst resp = await $helpers.httpRequest({\n  method: 'POST',\n  url: SUPABASE_URL + '/functions/v1/metadados-xlsx',\n  headers: {\n    'Authorization': 'Bearer ' + ANON_KEY,\n    'apikey': ANON_KEY,\n    'Content-Type': 'application/json',\n  },\n  body: { action: 'generate-bookinfo', metadados_json },\n  json: true,\n});\n\nif (resp && resp.error) throw new Error('Edge generate-bookinfo falhou: ' + resp.error);\n\nreturn [{\n  json: { job_id },\n  binary: {\n    data: {\n      data: resp.xlsx_b64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: 'bookinfo.xlsx',\n      fileExtension: 'xlsx'\n    }\n  }\n}];"
      },
      "id": "node-gen-xlsx",
      "name": "Generate XLSX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tddolcrzmczvoqxkajic.supabase.co/storage/v1/object/metadados/{{ $json.job_id }}/bookinfo.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "node-upload-xlsx",
      "name": "Upload XLSX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TODO_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tddolcrzmczvoqxkajic.supabase.co/storage/v1/object/sign/metadados/{{ $('Generate XLSX').first().json.job_id }}/bookinfo.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "expiresIn",
              "value": "={{ 300 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-sign-url",
      "name": "Sign Download URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TODO_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.metadados_jobs set updated_at = now() where id = '{{ $('Generate XLSX').first().json.job_id }}'::uuid;",
        "options": {}
      },
      "id": "node-touch-updated",
      "name": "Touch updated_at",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres (service_role)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"https://tddolcrzmczvoqxkajic.supabase.co/storage/v1{{ $('Sign Download URL').first().json.signedURL }}\"\n}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Job JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job JSON": {
      "main": [
        [
          {
            "node": "Generate XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate XLSX": {
      "main": [
        [
          {
            "node": "Upload XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload XLSX": {
      "main": [
        [
          {
            "node": "Sign Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Download URL": {
      "main": [
        [
          {
            "node": "Touch updated_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Touch updated_at": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
